body{
    background: url('./assets/images/pattern-background-desktop-light.svg');
}
.container{
    display: flex;
   width: 80%;
   margin: auto;
   flex-direction: column;
}

.top{
    display: flex;
    flex-direction: row;
    gap: 5px;
   font-size: 24px;
}

.quiz-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.right{
  
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    gap: 15px;
}


.left div{
    padding: 15px 20px;
    border-radius: 15px;
    padding-top: 15px;
    background: grey;
}

.left div span{
    background: white;
    padding: 5px;
    border-radius: 5px;
}